body {
    background-color: #f4f4f4;
}

.navbar {
    background-color: #2C3E50 !important;
}

.nav-link {
    color: #ECF0F1 !important;
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
}
.nav-link:hover {
    color: #000000 !important;
}
.dropdown-menu {
    background-color: #34495E;
    border: none;
}
.dropdown-item {
    color: #000000 !important;
}
.dropdown-item:hover {
    background-color: #4985de !important;
    color: #ffffff !important;
}
.btn-light {
    background-color: #F39C12;
    color: #ffffff;
    font-weight: bold;
    border: none;
}
/*label*/
#rechargeDetails {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#enteredNumber {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
    width: 60%;
    margin-right: 10px;
}

#storedRecharge {
    background-color: #2a28a7;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

#changeRecharge {
    color: #2a28a7;
    text-decoration: none;
    margin-left: 10px;
}

#changeRecharge:hover {
    text-decoration: underline;
}



/*sidebar*/
.sidebar {
    background-color: #2C3E50;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background: #34495E;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar a:hover {
    background: #F39C12;
    transform: translateX(5px);
}

.card {
    margin-bottom: 20px;
    transition: transform 0.3s, background-color 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background-color: #f8f9fa;
}
